@use './components/sass/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-stack;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variables.$bg-color;
    scroll-behavior: smooth;
    overflow-x: hidden;
}