$font-stack: 'Inter', sans-serif;
$text-color: #213745;
$text-color-secondary-1: #00000080;
$text-color-secondary-2: #E3E3E3D9;
$bg-color: #fff;
$bg-color-secondary-1: #FC9C018C;
$bg-blue-ocean: #1883E9;
$bg-purple-color: #662ABC;
$bg-orange-fruit: #FC9C01;
$rectangle-color: #D9D9D940;
$background-card-border-1:#370c7552;
$background-card-border-2: #1883E9A3;
$background-card-border-3: #D6BAFF;
$menu-bg: #FC9C0133;

html {
    scroll-behavior: smooth;
}
