@use '../../sass/variables.scss';

.Portfolio {
    position: relative;
    width: 100%;
    height: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // background-color: red;

    .Portfolio-content-text {
        position: relative;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // background-color: aqua; 

        h2 {
            width: 347px;
            color: variables.$text-color;
            font-size: 45px;
            font-weight: 900;
            line-height: 54px;
            letter-spacing: 0em;
            text-align: center;

            span {
                color: variables.$bg-purple-color;
            }
        }

        p {
            width: 810px;
            color: variables.$text-color-secondary-1;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    .Portfolio-content-slider {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: yellow;

        .Portfolio-slider {
            position: relative;
            width: 1590px;
            height: 810px;
            border-radius: 40px;
            background-color: variables.$bg-purple-color;
            overflow: hidden;

            .card-content {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .content-image-01 {
                    width: 615px;
                    height: 750px;
                    border-radius: 30px;
                    background-color: hotpink;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content-image-dou {
                    width: 915px;
                    height: 750px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    border-radius: 30px;
                    
                    .content-image-02 {
                        background-color: hotpink;
                        width: 885px;
                        height: 420px;
                        border-radius: 30px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content-image-text {
                        width: 100%;
                        background-color: variables.$bg-purple-color;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        .content-image-03 {
                            background-color: hotpink;
                            width: 510px;
                            height: 300px;
                            border-radius: 30px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .content-text-slide {
                            position: relative;
                            right: 78px;
                            display: flex;
                            flex-direction: column;  

                            h2 {
                                position: relative;
                                top: -52px;
                                width: 239px;
                                color: variables.$bg-color;
                                font-size: 54px;
                                font-weight: 700;
                                line-height: 65px;
                                letter-spacing: 0em;
                                text-align: left;
                            }

                            p {
                                position: relative;
                                top: -32px;
                                width: 301px;
                                color: variables.$text-color-secondary-2;
                                font-size: 20px;
                                font-weight: 400;
                                line-height: 26px;
                                letter-spacing: 0em;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}